# ignore all the files and diretories
*

# add diretories
!/GetTime/
!/GetTime/**/
!/Sync/
!/Sync/**/
!/Timer/
!/Timer/**/
!/Ptpd/
!/Ptpd/**/

# add files
!*.cpp
!*.c
!*.h
!Makefile
!*.sh
!*.conf

# you can add the special files here to ignore
