# ignore all the files and diretories
*

# add diretories
!/GetTime/
!/GetTime/**/
!/Sync/
!/Sync/**/
!/Timer/
!/Timer/**/

# add files
!*.cpp
!*.c
!*.h
!Makefile

# you can add the special files here to ignore
