# ignore all the files and diretories
*

# add diretories
!/GetTime/
!/GetTime/**/
!/Sync/
!/Sync/**/
!/Timer/
!/Timer/**/
!/Ptpd/
!/Ptpd/**/
/Ptpd/ptpd-2.3.1
!/Driver/
!/Driver/**/

# add files
!*.cpp
!*.c
*.mod.c
!*.h
!Makefile
!*.sh
!*.conf
!*.md

# you can add the special files here to ignore
